<div class="container">
  <div class="row">


    <%= render "users/link", book: @book, user: current_user %>

    <div class="col-md-9">
      <h2>Users</h2>
      <table class="table table-hover">
        <thread>
          <tr>
            <th class="col-md-3">image</th>
            <th class="col-md-3">name</th>
            <th class="col-md-3"></th>
          </tr>
        </thread>
        <tbody>
          <% @users.each do |user| %>
          <tr>
              <td> <%= attachment_image_tag user, :profile_image,  fallback: "no_image.jpg",size: '40x40' %> </td>
              <td> <%= user.name %> </td>
              <td> <%= link_to "show", user_path(user.id), class: "user_#{user.id}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <p class="right">CopyRight Infratop.inc</p>


  </div>
</div>