<div class="container">
  <div class="row">

    <div class="col-md-8">
      <h1>welcome to<span><i class="fa fa-book abc" aria-hidden="true"></i></span>Bookers !!</h1>
    </div>

    <div class="col-md-9">
      <p class="right">CopyRight Infratop.inc</p>
    </div>

  </div>
</div>